#!/usr/bin/make -f
# Sample debian/rules that uses debhelper.
# GNU copyright 1997 to 1999 by Joey Hess.

# Uncomment this to turn on verbose mode.
#export DH_VERBOSE=1

export DEB_BUILD_MAINT_OPTIONS = hardening=+all

# Temporary hack to ensure that aptitude builds on s390 and sh4. As of this
# writing, g++ on s390 miscompiles some of the parsing code unless
# -fno-gcse is enabled.  See Debian bug #580085.
DEB_BUILD_ARCH_CPU ?= $(shell dpkg-architecture -qDEB_BUILD_ARCH_CPU)
ifneq (,$(findstring $(DEB_BUILD_ARCH_CPU), s390 sh4))
  DEB_CXXFLAGS_MAINT_APPEND += -fno-gcse
endif

ifneq (,$(findstring noopt,$(DEB_BUILD_OPTIONS)))
  DEB_CXXFLAGS_MAINT_APPEND += -fno-inline
endif

ifneq (,$(filter nocheck,$(DEB_BUILD_OPTIONS)))
  CONFIGURE_OPTS += --disable-tests
endif

export DEB_CXXFLAGS_MAINT_APPEND

BUILDDIR = build
export DH_OPTIONS = --builddirectory=$(BUILDDIR) --dbg-package=aptitude-dbg

%:
	dh $@ --parallel

override_dh_auto_configure:
	dh_auto_configure -- \
	    --htmldir='$${docdir}/html' \
	    --program-transform='s&aptitude$$&aptitude-curses&' \
	    $(if $(filter nocheck,$(DEB_BUILD_OPTIONS)),--disable-tests)

override_dh_auto_test:
ifeq (,$(filter nocheck,$(DEB_BUILD_OPTIONS)))
	# Run the unit tests, but protect against Boost.Test's flakiness.
	(cd $(BUILDDIR) && $(MAKE) -C tests check || (cd tests && ./cppunit_test))
endif

override_dh_installdocs:
	dh_installdocs

	for lc in $(notdir $(wildcard debian/tmp/usr/share/doc/aptitude/html/??)); do \
	  mkdir -p "debian/aptitude-doc-$$lc/usr/share/doc/aptitude/html"; \
	  cp -R "debian/tmp/usr/share/doc/aptitude/html/$$lc" \
	      "debian/aptitude-doc-$$lc/usr/share/doc/aptitude/html/$$lc"; \
	done

override_dh_installman:
	dh_installman $(wildcard debian/tmp/usr/share/man/man?/*)
	for lc in $(notdir $(wildcard debian/tmp/usr/share/man/??)); do \
	  dh_installman --language=$$lc "debian/tmp/usr/share/man/$$lc/man?/*"; \
	done
